/* .task-container{
    top: 10px;
    align-items: baseline;
}

.list-item{
    font-size: 2rem;
    text-align:left;
}


#remove-btn{
    color: #000;
} */

.task-container {
    width: 100%; 
  }
  #message{
    text-align: center;
    padding: 1rem;
  }
  .list-item {
    display: flex;
    font-size: 2rem;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    text-transform: capitalize;
    border-bottom: 1px solid #b64b4b; 
  }
  
  button {
    margin-left: 10px;
  }